<div id="instructions_wrapper">
	<div id="seed_title"><div id="instructions_title"><p>GETTING STARTED</p></div></div>

	<div id="instructions_left">
		<div id="instructions_block">
		<div id="subtitle"><p>Materials:</p></div>
		<ul>
			<li>- glass jars</li>
			<li>- mesh screen, rubber bands</li>
			<li>- container stand</li>
			<li>- removable tray</li>
			<li>- seeds</li>
			<li>- fresh water</li>
			<li>- airtight containers for storage</li>
		</ul>
		</div>
	
		<div id="instructions_block">
		<div id="subtitle"><p>Tips:</p></div>
		<ul>
			<li>- Sprouts should smell clean and fresh, so be suspicious of unpleasant odors.</li>
			<li>- Not all seeds will sprout.</li>
			<li>- When rinsing the sprouts, be sure that the rinsed water is clear.</li>
			<li>- Place mesh in a taut manner.</li>
		</ul>
		</div>
	
		<div id="instructions_block">
		<div id="subtitle"><p>Information:</p></div>
		<ul><li><p>www.kitchengarden.co.za</p></li></ul>
		</div>
	</div>

	<div id="instructions_right">

		<div id="instructions_block">
		<div id="subtitle"><p>Step 1:</p></div>
		<p>Place container stand over drainage tray provided. Put enough seeds (1 to 2 tsbsp. or 3 to 4 tsps., approximately 16-30 grams, depending on the seeds), to lightly cover the bottom surface of the upright jar(s).</p>
		</div>

		<div id="instructions_block">
		<div id="subtitle"><p>Step 2:</p></div>
		<p>Cover with mesh screen and secure with rubber band.</p>
		</div>

		<div id="instructions_block">
		<div id="subtitle"><p>Step 3:</p></div>
		<p>Rinse seeds of dirt and dust. Cover the seeds with about 2-4cm water and soak for a full 6-8 hours or overnight by leaving jars with the mouth up on the drainage tray.</p>
		</div>

		<div id="instructions_block">
		<div id="subtitle"><p>Step 4:</p></div>
		<p>Drain the water and rinse in fresh water swirling gently, while draining to disperse seeds across the bottom and sides of the jar.</p>
		</div>

		<div id="instructions_block">
		<div id="subtitle"><p>Step 5:</p></div>
		<p>Place jar(s) at angle with mouth down in container stand.</p>
		</div>

		<div id="instructions_block">
		<div id="subtitle"><p>Step 6:</p></div>
		<p>Rinse 2-3 times twice a day in cool water and put the jars back in the container stand in the same way.</p>
		</div>

		<div id="instructions_block">
		<div id="subtitle"><p>Step 7:</p></div>
		<p>Place jar in bright light (but not direct sunlight) to provide more greenery shortly before harvest to allow additional chlorophyll to form. Do not be afraid to experiment for optimal taste.</p>
		</div>

		<div id="instructions_block">
		<div id="subtitle"><p>Step 8:</p></div>
		<p>Enjoy in three to seven days. For a continuous suply of fresh sprouts sow new seeds every 2 to 3 days.</p>
		</div>

		<div id="instructions_block">
		<div id="subtitle"><p>Step 9:</p></div>
		<p>Drain well and to harvest cover the jar with a lid, or transfer to an airtight container. Refrigerate to store.</p>
		</div>
	</div>

</div>