a {
	text-decoration: none;
}

* {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}

td {
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top;
  background-color: white;
}

body {
  font-size: 16px;
  color: #611937;
}

/*unvisited link*/
a:link {
  color: #992757;
}

/* visited link */
a:visited {
  color: #992757;
}

a:hover {
  color: #BF316C;
}

#project_form_links a:link {
  color: white;
}

/* visited link */
#project_form_links a:visited {
  color: white;
}

#project_form_links a:hover {
  color: white;
}